.error {
    color: red;
    padding-top:20px;
}
.success{
    color: green;
    padding-top:20px;
}
/* TABLE STYLE
/* Style table headers in yellow and text in white */
.webpage-title{
    padding-bottom:50px;
    color:white ;
}