{% extends 'base.html' %}

{% block title %}
Add Financial Record
{% endblock %}

{% block content %}
<h2 class="webpage-title">Add Your Financial Record</h2>

<form action="{{ url_for('add_records') }}" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label" style="color:#FFD700; font-size:20px"><b>Email address</b></label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>

  <div class="mb-3">
    <label for="salary" class="form-label" style="color:#FFD700; font-size:20px"><b>Salary</b></label>
    <input type="number" class="form-control" id="salary" name="salary" step="0.01" required>
  </div>

  <div class="mb-3">
    <label for="house_rent" class="form-label" style="color:#FFD700; font-size:20px"><b>House Rent</b></label>
    <input type="number" class="form-control" id="house_rent" name="house_rent" step="0.01">
  </div>

  <div class="mb-3">
    <label for="other_expenses" class="form-label" style="color:#FFD700; font-size:20px"><b>Other Monthly Expenses</b></label>
    <input type="number" class="form-control" id="other_expenses" name="other_monthly_expenses" step="0.01">
  </div>

  <button type="submit" class="btn btn-success rounded-pill px-3">Submit</button>
</form>

{% endblock %}
