{% extends 'base.html' %}

{% block title %}
Financial Record
{% endblock %}

{% block content %}
<h2 class="webpage-title">Your Financial Record</h2>

<table class="table">
  <thead >
    <tr style="background-color: #000000;
                color: #FFD700;">
      <th scope="col">Email</th>
      <th scope="col">Salary</th>
      <th scope="col">House Rent</th>
      <th scope="col">Other Expenses</th>
      <th scope="col">Savings</th>
      <th scope="col">Savings Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color: #696969;
                color: #FFFFFF;">
      <td>{{ record.email }}</td>
      <td>{{ record.salary }}</td>
      <td>{{ record.house_rent }}</td>
      <td>{{ record.other_monthly_expenses }}</td>
      <td>{{ record.savings }}</td>
      <td>{{ record.savings_in_percentage }}%</td>
    </tr>
  </tbody>
</table>

<a href="{{ url_for('home') }}" class="btn mb-3 btn-outline-info">Go to Home</a>
{% endblock %}
